<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="text/css" href="{{ url_for('static',filename='/assets/black-hole.png') }}">
    <meta http-equiv="refresh" content="8">
    <title>
        {{ title }}
    </title>
</head>

<body>
    {% block content %}

    {% endblock %}
</body>

</html>
